---
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
import Content from '../components/Content.astro'
import { IoChevronForward } from 'react-icons/io5/index.js'
import Masthead from '../components/Masthead.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Masthead />
  <Content>
    <section>
      <h1 class="text-3xl text-center font-mplus mt-12 mb-8">
        Oops, not found
      </h1>
      <div class="text-center py-4">
        <a
          class="inline-flex items-center gap-1 underline underline-offset-2 decoration-orange-500"
          href="/"
          >Go to Index <IoChevronForward />
        </a>
      </div>
    </section>
  </Content>
</BaseLayout>
