---
import { HOMEPAGE_URL } from '../config'

const today = new Date()
---

<footer class="p-4 text-center text-zinc-500">
  &copy; {today.getFullYear()}
  <a href={HOMEPAGE_URL}>Pandashark</a>. All rights reserved.
</footer>
