---
import HeaderLink from './HeaderLink.astro'
import { HOMEPAGE_URL } from '../config'
import { IoLogoGithub } from 'react-icons/io5/index.js'
import { SharkFinIcon } from './icons/SharkFinIcon'
import { ThemeToggle } from './ThemeToggleButton'
import { DropdownMenu } from './DropdownMenu'
import { SearchForm } from './SearchForm'
---

<header class="fixed z-20 w-full p-2 backdrop-blur-md">
  <div class="mx-auto max-w-3xl">
    <nav class="flex items-center gap-3 text-base">
      <a href="/" class="group">
        <h2
          class="font-mplus flex items-center gap-2 p-2 text-lg font-semibold tracking-tighter"
        >
          <SharkFinIcon />Pandashark
        </h2>
      </a>
      <div class="hidden items-center gap-6 md:flex">
        <HeaderLink href={HOMEPAGE_URL}>About</HeaderLink>
        <HeaderLink
          href="https://github.com/x7ddf74479jn5/pandashark-uses"
          target="_blank"
        >
          <IoLogoGithub />Source
        </HeaderLink>
      </div>
      <div class="flex-1"></div>
      <SearchForm client:visible />
      <ThemeToggle client:visible />
      <DropdownMenu client:visible />
    </nav>
  </div>
</header>
