<section class="relative mb-6 flex h-80 items-center justify-center">
  <div class="absolute h-full w-full overflow-hidden">
    <video
      class="absolute h-auto left-1/2 top-1/2 min-w-full min-h-full object-cover -translate-x-1/2 -translate-y-1/2 opacity-30"
      poster="/masthead-poster.jpg"
      autoplay="autoplay"
      muted="muted"
      loop="loop"
      playsinline
    >
      <source src="/masthead.webm" type="video/webm; codecs=vp9" />
      <source src="/masthead.mkv" type="video/mp4; codecs=h264" />
    </video>
  </div>
  <div class="z-10 px-8 text-center shadow-black drop-shadow-lg">
    <div class="mb-4 text-sm uppercase">Welcome to</div>
    <div class="font-mplus text-4xl font-medium">
      A curated list of the tools I <span class="text-orange-500">uses</span>
    </div>
  </div>
</section>
